# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
.env/

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Node modules (future React Native)
node_modules/

# React Native / Expo
.expo/
dist/
web-build/

# Environment Variables
.env
.env.*

# Pytest cache
.pytest_cache/

# Migrations cache
*.pyc